.container{
    display: flex;
    justify-content:flex-start;
    color: black;
    align-items: baseline;
    background-color: white;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-bottom: 0;
    overflow: auto;
}

.container h1 a{
    color: black;
    text-decoration: none;
}

nav a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: rgb(75, 75, 75);
    text-decoration: none;
}

#image{
    text-align: right;
    padding-top: 120px;
}

#about{
    font-family: Montserrat;
    font-size: large;
    text-align: justify;
    margin: 10px;
}

#cart{
    border: solid black;
    border-width: 2px;
    border-radius: 5px;
}

html{
    scroll-behavior: smooth;
}
